<!DOCTYPE = html>
<html>
  <head>
    <title>2D Platformer</title>
  </head>
  <body>
    <h1>A simple 2D platformer game built using JavaScript.</h1>
    <canvas>
      
    </canvas>
  </body>
</html>