<!DOCTYPE = html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>2D Game</title>
    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
    <script type="module" src="scripts/gameObjects.mjs"></script>
  </head>
  <body>
    <h1>A simple 2D game built using JavaScript.</h1>
    <canvas id="gameBoard" width="480" height="320"></canvas>
    <script type="module" src="scripts/canvas.mjs"></script>
  </body>
</html>